	<h1>Edit Info</h1>

<form method="post" action="/edit">

	<label for="password">Password</label>
	<input type="password" name="password">
	
	<br>
	<br>

	<label for="first_name">First Name</label>
	<input type="text" name="first_name">

	<br>
	<br>

	<label for="last_name">Last Name</label>
	<input type="text" name="last_name">
	
	<br>
	<br>

	<label for="age">Age</label>
	<input type="text" name="age">
	
	<br>
	<br>

	<label for="email">Email</label>
	<input type="text" name="email">

	<button type="submit">
		Save 
	</button>

</form>