<% if current_user %>
<h1>Welcome <%= current_user.first_name %>!</h1>
<% else %>
<h1>This is the home page </h1>

<% end %>

<% @posts.each do |post| %>
	Posted By: <%= post.user.username %>
	<br> 
	Title: <%= post.title %>
	<br> 
	Post: <%= post.body %>
	<br>
	<br>
	<br>
<% end %>

<% if current_user %>
<form action="/create-post" method="post">
	<label for="title">Title</label>
	<input type="text" name="title">

	<label for="body">Message</label>
	<textarea rows="10" type="textarea" name="body"></textarea>

	<button type="submit">Create Post</button>
</form>
<% end %>