html, body {
	background-color: indianred;
	margin: 0px 50px 50px 50px;
}
.posts {
	border-style: solid;
	border-width: 3px;
	max-width: 600px;
	font-size: 20px;
	padding: 10px;
}
h4 {
	font-size: 25px;
}